{% extends "base1.html" %} 

{% load static %}

{% block content %}
 
 <!-- FORMULAIRE Start -->
 <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <main class="p-4">
        <h1 class="text-center text-xl font-bold mb-4">INSCRIPTION SUR LA PLATEFORME NUMARTIS-CI</h1>
        <p class="text-center bg-green-500 text-white py-4 rounded mb-4" style="background-color: #009540;">Vous allez créer votre compte professionnel ! 
        L'inscription est gratuite et se fait en 3 minutes environ.</p>
      </main>  
</div>
<div class="container mt-4">
    <div class="row" style="justify-content: center;">
      <div class="col-md-6">
        <form id="entrepriseArtisanForm" action="{% url 'EntrepriseArtisan' %}" method="post" enctype="multipart/form-data" class="bg-light p-4 rounded shadow-sm">
          {% csrf_token %}
          <h2 class="h5 mb-4">INFORMATION SUR L’ENTREPRISE</h2>
          <div class="form-group">
              <input type="text" class="form-control mb-3" placeholder="Nom Commercial" required name="nom_commercial">
              <input type="text" class="form-control mb-3" placeholder="Structure juridique" name="structure_juridique">
              <input type="email" class="form-control mb-3" placeholder="Adresse Mail" required name="adresse_mail_entreprise">
              <input type="text" class="form-control mb-3" placeholder="Secteur d'activité" required name="secteur_activite">
              <input type="tel" class="form-control mb-3" placeholder="Numéro de téléphone" required name="numero_telephone_entreprise">
              <input type="text" class="form-control mb-3" placeholder="Adresse de l'entreprise" required name="adresse_entreprise">
          </div>
          <h2 class="h5 mb-4">INFORMATION SUR L'ARTISAN</h2>
          <div class="form-group">
              <input type="text" class="form-control mb-3" placeholder="Nom et Prénom" required name="nom_prenom_artisan">
              <input type="email" class="form-control mb-3" placeholder="Adresse Mail" required name="adresse_mail_artisan">
              <input type="tel" class="form-control mb-3" placeholder="Numéro de téléphone" required name="numero_telephone_artisan">
              <input type="text" class="form-control mb-3" placeholder="Adresse" required name="adresse_artisan">
              <input type="text" class="form-control mb-3" placeholder="Années d'expérience" required name="annees_experience">
              <input type="text" class="form-control mb-3" placeholder="Fonction dans l'entreprise" required name="fonction_dans_entreprise">
              <div>
                <label for="">Enregistrer une date de création de votre entreprise</label>
                <input type="date" class="form-control mb-3" placeholder="Horaires de travail" required name="horaires_travail">
              </div>
              <div>
                  <p>Enregistrer une photo</p>
                  <input type="file" class="form-control-file mb-3" placeholder="enregistrer une photo" required name="photo_artisan">
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Soumettre</button>
      </form>
      
      </div>
    </div>
</div>

{% endblock %}










   

   