{% extends "base1.html" %}

{% load static %}

{% block content %}
    <!-- Service Start -->
     <!-- Service Start -->
    <div class="container">
        <div class="d-flex justify-content-center mb-3 test3">
            <form method="get" action="{% url 'services' %}" class="d-flex align-items-center azert">
                <div class="me-3 test">
                    <select class="form-select" name="service_type">
                        <option value="">Tous les services</option>
                        <option value="mecanique">Mécanique</option>
                        <option value="electricite">Électricité</option>
                        <option value="plomberie">Plomberie</option>
                        <option value="peinture">Peinture</option>
                        <option value="carrelage">Carrelage</option>
                        <option value="maintenance">Maintenance</option>
                        <option value="divers">Divers</option>
                    </select>
                </div>
                <button class="btn btn-primary test1" type="submit">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5" style="color: #009540;">Les SERVICES de NUMARTIS-CI</h1>
            </div>
            <div class="row g-4">
                {% for service in services %}
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" style="width: 90%; height: auto;" src="{{ service.image.url }}" alt="Image for {{ service.name }}">
                        </div>
                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">{{ service.name }}</h4>
                            <p>{{ service.description }}</p>
                            <a href="{% url 'devis' %}" class="btn btn-primary py-2 px-5" style="border-radius:50px; float: left; margin-right: 30px;">Obtenir un devis</a>
                            <div>
                                        <a class="fw-medium" href="{% url 'profil' %}" style="color: #1B75BC;">
                                            Profil Artisan <i class="fa fa-arrow-right ms-2"></i>
                                        </a>
        
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Service End -->
{% endblock %}
